@charset "UTF-8";
/* CSS Document */

select {
    width: 163px;
    height: 46px;
    line-height: 40px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 10px;
    border-radius: 3px;
    background-color: white;
    border: 1px solid grey;
    font-size: 20px;

}

option {
    font-size: 25px;
}

.message {
    width: 322px;
    height: 137px;

    margin-top: 43px;
    margin-left: 10px;
    font-size: 16px;
    color: grey;
    position: relative;

}

.team {
    margin-left: 10px;
    margin-top: 36px;
    width: 163px;
    height: 46px;
}

.button1 {
    background: transparent;
    border: 0px;
    font-size: 24px;
    color: blueviolet;
    position: absolute;
    left: 80%;
    top: 75%;
}

.button2 {
    border: 1px solid black;
    background: transparent;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 330px;

}

.top {
    border: 1px solid black;
    height: 65px;
    width: 100%;
    box-shadow: 2px 4px 5px #000;
}

.select {
    box-shadow: 0px 23px 70px rgba(0, 0, 0, 0.1);
    width: 325px;
    height: 313.24px;
    margin: 0 auto;
    padding-left: 0px;
    padding-top: 10px;
    margin-bottom: 30px;
}