button {
    background: linear-gradient(to right, rgba(23, 234, 217, 1), rgba(96, 120, 234, 1));
    color: white;
    border-radius: 2px;
    border: 0;
    font-size: 24px;

}

.btn1 {
    background: linear-gradient(to right, rgba(23, 234, 217, 1), rgba(96, 120, 234, 1));
    color: white;
    border-radius: 32px;
    border: 0;
    font-size: 32px;
    position: absolute;
    height: 43px;
    width: 43px;
    text-align: center;
    padding-top: 7px;
    left: 75%;
    top: 80px;

}
body {
    margin: auto;
    text-align: center;
    /*width: 200px;*/
}

#Name {
    position: absolute;
    background: linear-gradient(to right, rgba(23, 234, 217, 1), rgba(96, 120, 234, 1));
    left: 30%;
    top: 8%;
    color: white;
    height: 40px;
    width: 200px;
    border-radius: 5px;
}

.userdiv2 {
    box-shadow: 0px 23px 70px rgba(0, 0, 0, 0.1);
    width: 325px;
    height: 313.24px;
    margin: 0 auto;
    text-align: left;
    padding-left: 39.54px;
    padding-top: 20px;
    position: relative;

}

#TI-U {
    position: absolute;
    left: 40%;
    top: 50%;
    width: 80px;
    height: 40px;
}

#his-U {
    position: absolute;
    left: 40%;
    top: 64%;
    width: 80px;
    height: 40px;
}

.his {
    position: absolute;
    left: 40%;
    top: 55%;
    width: 80px;
    height: 37px;
}

.vs {
    position: absolute;;
    top: 70%;
    left: 40%;
    width: 80px;
    height: 37px;
}

.refereenav {
    position: absolute;
    left: 40%;
    top: 8%;
    font-size: 26px;
    color: grey;

}

.indexdiv1 {
    height: 205px;
}

table {

    align-content: center;
    padding: auto;
}

tr {
    height: 35px;
}

td {
    font-size: 15px;
    text-align: center;
}

input {
    width: 80%;
    height: 100%;
}

.userdiv3 {
    top: 0px;
    box-shadow: 0px 23px 70px rgba(0, 0, 0, 0.1);
    width: 375px;
    height: 300px;
    margin: 0 auto;
    text-align: left;
    padding-left: 15px;
    padding-top: 35px;
    position: relative;

}

.span1 {
    font-size: 19px;
    font-weight: 900;
    color: grey;
}

#cs-a {
    margin: 30px;
}

#cs-b {
    margin: 30px;
}

#cs-c {
    margin: 30px;
}

