<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.octopusbaby.basketball.dao.AdminDao">
    <!-- 目的：为dao接口方法提供sql语句配置 -->

    <!--添加管理员-->
    <insert id="insertAdmin">
        insert into t_admin (userName, password,type)
        values (#{userName},#{password},#{type});
    </insert>

    <!--获取所有管理员信息-->
    <select id="getAllAdmin" resultType="Admin">
        select id,userName,password
        from t_admin;
    </select>

    <!--通过管理员名称获取管理员-->
    <select id="getAdminByName" resultType="Admin">
         select id,userName,password
        from t_admin
        where userName=#{userName};
    </select>
</mapper>