<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.octopusbaby.basketball.dao.MatchDao">
    <!-- 目的：为dao接口方法提供sql语句配置 -->

    <!--获取所有对战信息-->
    <select id="getAllInfo" resultType="Match">
        select id,match_time,event_type,memberId,teamId
        from t_match;
    </select>

    <!--通过球员ID和球队ID查询某条记录记录-->
    <select id="getAllInfo" resultType="Match">
        select id,match_time,event_type,memberId,teamId
        from t_match
        where memberId=#{memberId} and teamId=#{teamId};
    </select>

    <!--添加一条对战记录-->
    <insert id="insertMatch">
        insert into t_match (match_time, event_type, memberId, teamId)
        values (#{match_time},#{event_type},#{memberId},#{teamId});
    </insert>

    <!--通过时刻、事件类型和球员ID删除一条记录-->
    <delete id="deleteMatch">
        delete from t_match
        where match_time=#{match_time}
        and event_type=#{event_type}
        and memberId=#{memberId};
    </delete>
</mapper>