<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.octopusbaby.basketball.dao.MatchDao">
    <!-- 目的：为dao接口方法提供sql语句配置 -->

    <!--获取所有对战信息-->
    <select id="getAllInfo" resultType="Match">
        select id,MatchTime,EventType,memberId,teamId
        from t_match;
    </select>
</mapper>