<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.octopusbaby.basketball.dao.TeamDao">
    <!-- 目的：为dao接口方法提供sql语句配置 -->

    <!--对应数据库字段-->
    <resultMap type="Team" id="TeamResult">
        <result property="teamId" column="team_id"/>
        <result property="teamName" column="team_name"/>
    </resultMap>

    <!--添加球队-->
    <insert id="insertTeam">
        insert into t_team (team_id, team_name)
        values (#{teamId},#{teamName});
    </insert>

    <!--查询所有球队信息-->
    <select id="queryAllTeam" resultType="Team">
        select team_id,team_name
        from t_team;
    </select>

    <!--通过球队ID查询指定球队-->
    <select id="queryByTeamId" resultType="Team">
        select team_id,team_name
        from t_team
        where team_id=#{teamId};
    </select>

    <!--通过球队ID删除一个球队信息-->
    <delete id="delByTeamId">
        delete from t_team
        where team_id=#{teamId};
    </delete>

    <!--通过球队ID修改球队名-->
    <update id="modifyByTeamId">
        update t_team
        set team_name = #{teamName}
        where team_id=#{teamId};
    </update>
</mapper>