<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--配置命名空间-->
<mapper namespace="org.octopusbaby.basketball.dao.UserDao">

    <!--对应数据库字段-->
    <resultMap type="User" id="UserResult">
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="userType" column="user_type"/>
    </resultMap>

    <select id="getUser" resultType="User">
        select user_id,user_name,password,user_type
        from t_account
        where user_name=#{userName} and password=#{password};
    </select>

    <!--检验用户注册-->
    <select id="checkUser" parameterType="User" resultMap="UserResult">
        select user_id,user_name,password,user_type
        from t_account
        where user_name=#{userName}
        and password=#{password}
        and user_type=#{userType} limit 1;
    </select>

    <!--添加用户-->
    <!--设置返回自增主键-->
    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="userId">
        insert into t_account (user_name, password,user_type)
        values (#{userName},#{password},#{userType});
    </insert>

    <!--获取所有用户信息-->
    <select id="getAllUser" resultType="User">
        select user_id,user_name,password,user_type
        from t_account;
    </select>

    <!--通过用户名称获取用户-->
    <select id="getUserByName" resultType="User">
        select user_id,user_name,password,user_type
        from t_account
        where user_name=#{userName};
    </select>

    <!--根据用户名删除用户-->
    <delete id="delByName">
        delete from t_account
        where user_name=#{userName};
    </delete>

    <!--根据用户名更改用户密码-->
    <update id="modifyPwdByName">
        update t_account
        set password=#{password}
        where user_name=#{userName};
    </update>
</mapper>